.idea/

venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

*.log

*.iml
*.sublime-project
*.sublime-workspace

*.sqlite3

*.env
*.DS_Store

*.swp
*~

.coverage
.tox/
.pytest_cache/
htmlcov/

docs/_build/
